// media query break points
$xxLargeDevices:       1400px;
$xLargeDevices:        1300px;
$largeDevices:         1200px;
$mediumDevices:        992px;
$smallDevices:         768px;
$extraSmallDevices:    576px;

// Container
$containerWidth: 85%;
$containerMaxWidth: 1480px;

// Headlines
$headline1Size: 45px;
$headline2Size: 35px;
$headline3Size: 22px;
$headline4Size: 20px;
$headline5Size: 18px;
$headline6Size: 15px;
$headlinesLineHeight: 32px;
$headlineMargin: 5px 0 10px 0;

// Body
$bodyFontSize: 16px;
$bodyLineHeight: 26px;
$bodyTextColor: #dfdfdf;
$bodyFontFamily: Poppins;

// Layout widths
$contentWidth: 75%;
$sidebarWidth: 25%;


// Background Colors
$primaryBackgroundColor: #222430;
$secondaryBKGColor: #252834;

// header
$headerHeight: 122px;

// Footer
$footerTextColor: white;
$footerFontSize: 12px;

// featured image
$featuredImageHeight: 400px;

// Theme Buttons
$btnPadding: 18px 40px;
$btnFontSize: 16px;
$btnLineHeight: 1.4;
$btnFontWeight: 700;
$primaryBtnColor: #ff4a57;
$primaryBtnHoverColor: #bd343d;
$primaryBtnFontColor: #fff;

// Logo
$logoFontSize: 40px;
$logoFontColor: white;
$logoFontHoverColor: #ff4a57;

// Navigation Desktop Menu
$menuFontFamily: Nunito;
$menuItemColor: aliceblue;
$menuItemHoverColor: #ff4a57;
$menuItemPadding: 5px 20px;
$menuItemFontSize: 20px;

$menuDropDownItemColor: white;
$menuDropDownItemPadding: 7px 20px;
$menuDropDownItemHoverColor: #DDD;
$menuDropDownItemBkgHoverColor: rgba(1,1,1, 0.05);

// Hamburger Btn
$hamburgerBtnColor: aliceblue;

// Hamburger Menu
$hamburgerMenuBkgColor: #222430;
$hamburgerMenuLogoColor: #fbfbfb;
$hamburgerMenuLogoSize: 35px;
$hamburgerMenuItemColor: fbfbfb;
$hamburgerMenuItemPadding: 15px 0 15px 20px;
$hamburgerDropDownMenuItemPadding: 10px 0 10px 40px;

$paginationFontColor: #337ab7;