// media query break points
$largeDevices:         1200px;
$mediumDevices:        992px;
$smallDevices:         768px;
$extraSmallDevices:    576px;

// Container
$containerWidth: 85%;
$containerMaxWidth: 1480px;

// Headlines
$headline1Size: 45px;
$headline2Size: 35px;
$headline3Size: 22px;
$headline4Size: 20px;
$headline5Size: 18px;
$headline6Size: 15px;
$headlinesLineHeight: 32px;
$headlineMargin: 5px 0 10px 0;

// Body
$bodyFontSize: 16px;
$bodyLineHeight: 26px;
$bodyTextColor: #dfdfdf;
$bodyBackgroundColor: #1F2235;
$bodyFontFamily: Poppins;

// header
$headerHeight: 122px;

// Footer
$footerBackgroundColor: #1F2235;
$footerTextColor: white;
$footerFontSize: 12px;

// featured image
$featuredImageHeight: 400px;

// Theme Buttons
$btnPadding: 18px 40px;
$btnFontSize: 16px;
$btnLineHeight: 1.4;
$btnFontWeight: 700;
$primaryBtnColor: #ff4a57;
$primaryBtnHoverColor: #bd343d;
$primaryBtnFontColor: #fff;

// Logo
$logoFontSize: 30px;
$logoFontColor: white;
$logoFontHoverColor: #ff4a57;

// Navigation Desktop Menu
$menuItemColor: white;
$menuFontFamily: Nunito;
$menuItemHoverColor: #ff4a57;
$menuItemPadding: 5px 20px;
$menuItemFontSize: 16px;
$menuItemBkgHoverColor: #eef2f4;

$menuDropDownItemColor: white;
$menuDropDownItemPadding: 7px 20px;
$menuDropDownItemHoverColor: #DDD;
$menuDropDownItemBkgHoverColor: rgba(1,1,1, 0.05);

// Hamburger Btn
$hamburgerBtnColor: #333;

// Hamburger Menu
$hamburgerMenuBkgColor: #222;
$hamburgerMenuLogoColor: #fbfbfb;
$hamburgerMenuLogoSize: 35px;
$hamburgerMenuItemColor: fbfbfb;
$hamburgerMenuItemPadding: 10px 0 10px 20px;
$hamburgerDropDownMenuItemPadding: 10px 0 10px 40px;

$paginationFontColor: #337ab7;