@mixin post-mixin {
    margin-bottom: 20px;

    .post-featured-image {
        height: $featuredImageHeight; 
        background-size: cover; 
        background-position: center;
        margin-bottom: 10px;
    }

    .post-image-link {
        display: block;
        margin: 0px;
    }

    .post-meta {
        display: flex;
        margin: 10px 0px 5px 0px;
        font-size: 13px;

        .post-meta-detail {
            display: flex;
            margin-right: 15px;
            color: #444444;
        }
    }

    .post-title {
        font-weight: 700;
        margin: 0px 0px 10px 0px;
    }

    .post-title-link {
        color: #444;

        &:hover {
            color: #216a94;
            text-decoration: none;
        }
    }

    .post-author {
        display: flex;
        flex-direction: row;
        min-height: 100px;
        margin: 25px 0 25px 0;
    }

    .post-author-image {
        min-width: 120px;
        height: 115px;
        margin-right: 15px;

        @media (max-width: $smallDevices) {
            display: none;
        }
    }

    .post-author-image img {
        border-radius: 50%;
    }

    .post-taxonomy {
        display: flex;
        flex-wrap: wrap;

        .post-term {
            padding: 1px 12px;
            color: #555;
            border-radius: 4px;
            margin-right: 5px;
            margin-bottom: 5px;
            line-height: 20px;
            border: 1px solid #c0d3e6;
        }
    }
}

.content-index {
    margin-bottom: 30px;
    .posts {
        display: block;
        .post {
            @include post-mixin;

            .post-excerpt {
                margin: 5px 0 10px 0;
            }
            
            .post-footer {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.content-single {
    margin-bottom: 30px;
    .post {
        @include post-mixin;

        .post-meta {
            margin: 10px 0px;
        }

        .post-author-details {
            display: flex;
            flex-direction: column;
            width: 100%;
        
            .post-author-name {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
    }
}