/** Headlines */
.h1, h1 { font-size: $headline1Size; }
.h2, h2 { font-size: $headline2Size; }
.h3, h3 { font-size: $headline3Size; }
.h4, h4 { font-size: $headline4Size; }
.h5, h5 { font-size: $headline5Size; }
.h6, h6 { font-size: $headline6Size; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: $headlinesLineHeight;
}
