body {
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
    line-height: $bodyLineHeight;
    background-color: $bodyBackgroundColor;
    color: $bodyTextColor;
    overflow-x: hidden;
}

.ikigai {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    height: $headerHeight;
}

footer {
    background-color: $footerBackgroundColor;
    color: $footerTextColor;
    font-size: $footerFontSize;

    .footer-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        flex-direction: column;
    }
}

.content-wrap {
    display: flex;
    flex: 1;

    @media (max-width: $mediumDevices) {
        display: block;
    }
}

.content {
    width: 100%;
}

.content-left {
    order: 1;
    width: 70%;

    @media (max-width: $mediumDevices) {
        width: 100%;
    }
}

.content-right {
    order: 2;
    width: 70%;

    @media (max-width: $mediumDevices) {
        width: 100%;
    }
}

.sidebar {
    width: 30%;
    height: 100%;
    padding: 0px;

    @media (max-width: $mediumDevices) {
        width: 100%;
    }
}

.sidebar-left {
    order: 1;
    margin-right: 30px; 

    @media (max-width: $mediumDevices) {
        margin-right: 0; 
    }
}

.sidebar-right {
    order: 2;
    margin-left: 30px;

    @media (max-width: $mediumDevices) {
        margin-left: 0; 
    }
}