
/** Navigation Container */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    a:hover {
        text-decoration: none;
    }
}

/** Menu Stuff */
.menu-wrapper {
    display: flex;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;

    @media (max-width: $mediumDevices) {
        display: none;
        flex: 0;
    }
    
    .no-menu {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: $mediumDevices) {
            display: none;
        }
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: $mediumDevices) {
            display: none;
        }

        .menu-item {
            padding: 0px;
            cursor: pointer;
            height: 100%;
            /* display: flex; */
            align-items: center;
            font-weight: bold;

            a, span {
                color: $menuItemColor;
                text-decoration: none;
                height: 100%;
                display: flex;
                align-items: center;
                padding: $menuItemPadding;
                font-size: $menuItemFontSize;

                &:hover {
                    color: $menuItemHoverColor;
                }
            }

            &:hover {
                background-color: $menuItemBkgHoverColor;
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;

            .dropdown-content {
                display: none;
                position: absolute;
                min-width: 220px;
                height: max-content;
                background-color: #eef2f4;
                padding: 12px 0px;
                z-index: 90000;

                .drop-menu-item {
                    a {
                        color: $menuDropDownItemColor;
                        text-decoration: none;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding: $menuDropDownItemPadding;

                        &:hover {
                            color: $menuDropDownItemHoverColor;
                        }
                    }
                    
                    &:hover {
                        background-color: $menuDropDownItemBkgHoverColor;
                    }
                }
            }

            &:hover .dropdown-content {
                display: block;
            }
        }
    }
}

#hamburger-menu {
    background-color: $hamburgerMenuBkgColor;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 10000;

    .no-menu {
        color: #fbfbfb;
        padding: 20px;
    }

    .website-title {
        font-size: $hamburgerMenuLogoSize;
        padding: 10px 15px;
        display: flex;
        margin-top: 32px;
        color: $hamburgerMenuLogoColor;
    }

    .menu {
        color: #fbfbfb;
        position: relative;
        top: 30px;

        .menu-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
    
            a, span {
                font-size: 20px;
                color: white;
                flex: 1;
                padding: $hamburgerMenuItemPadding;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            i {
                padding: 0px 40px;
                font-size: 22px;
            }

            .dropdown-content {
                display: none;
                z-index: 1;
                width: 100%;
        
                .drop-menu-item {
                    display: flex;
            
                    a {
                        font-size: 18px;
                        color: white;
                        text-transform: none;
                        padding: $hamburgerDropDownMenuItemPadding;
                    }
                }
            }
        }
    }

    .dropdown-button-close {
        display: none;
    }
}

.hamburger-btn-wrapper {
    display: none;
    flex: 1;
    justify-content: flex-end;

    @media (max-width: $mediumDevices) {
        display: flex;
    }
    
    .hamburger-box .hamburger-inner, 
    .hamburger-box .hamburger-inner::before, 
    .hamburger-box .hamburger-inner::after {
        background-color: $hamburgerBtnColor;
    }

    .hamburger {
        outline: none;
        z-index: 20000;
    
        &.is-active {
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                background-color: $hamburgerBtnColor;
            }
        }
    }
}