.content-index .posts .post .post-title, 
.content-single .post .post-title {
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    line-height: 45px;
}

.posts .post .post-title-link {
    color: #444;
}

.posts .post .post-title-link:hover {
    color: #216a94;
    text-decoration: none;
}

.content-single .post .post-meta {
    margin: 10px 0px;
}

.content-single .post .post-featured-image {
    margin-bottom: 10px;
}

.post_meta {
    line-height: 20px;
}

.post-taxonomy .post-term {
    padding: 1px 12px;
    color: #555;
    border-radius: 4px;
    margin-right: 5px;
    line-height: 20px;
    border: 1px solid #c0d3e6;
}

.posts .post .post-excerpt {
    margin: 5px 0 10px 0;
}

.posts .post .post-read-more {
    padding: 2px 12px;
    background: #e9eff2;
    color: #333;
}

.posts .post .post-read-more:hover {
    background-color: #444;
    color: white;
    text-decoration: none;
}

.posts .post .post-footer {
    display: flex;
    justify-content: space-between;
}

.content-index .posts {
    display: block;
}

.content-index .posts .post,
.content-single .post {
    margin-bottom: 20px;
}

.posts .post div.post-featured-image, .post div.post-featured-image {
    height: 300px; 
    background-size: cover; 
    background-position: center;
}

.posts .post .post-image-link {
    display: block;
    margin: 0px;
}

.content-index .posts .post .post-meta, 
.content-single .post .post-meta {
    display: flex;
    margin: 10px 0px 5px 0px;
    font-size: 13px;
}

.post-meta .post-meta-detail {
    display: flex;
    margin-right: 15px;
    color: #444444;
}

.post .post-author {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    margin: 25px 0 25px 0;
}

.post .post-author-image {
    min-width: 120px;
    height: 115px;
    /* border: 1px dashed rgba(173, 216, 230, 0.158); */
    margin-right: 15px;
}

.post .post-author-image img {
    border-radius: 50%;
}

.post-author-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-author-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}