body {
    font-family: covik-sans, sans-serif;
    font-size: $body-font-size;
    line-height: $body-line-height;
    background-color: $body-background-color;
    color: $body-text-color;
    overflow-x: hidden;
}

.ikigai {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    height: $header-height;
}

footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    font-size: $footer-font-size;

    .footer-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        flex-direction: column;
    }
}

.content-wrap {
    display: flex;
    flex: 1;

    @media (max-width: $medium-devices) {
        display: block;
    }
}

.content {
    width: 100%;
}

.content-left {
    order: 1;
    width: 70%;

    @media (max-width: $medium-devices) {
        width: 100%;
    }
}

.content-right {
    order: 2;
    width: 70%;

    @media (max-width: $medium-devices) {
        width: 100%;
    }
}

.sidebar {
    width: 30%;
    height: 100%;
    padding: 0px;

    @media (max-width: $medium-devices) {
        width: 100%;
    }
}

.sidebar-left {
    order: 1;
    margin-right: 30px; 

    @media (max-width: $medium-devices) {
        margin-right: 0; 
    }
}

.sidebar-right {
    order: 2;
    margin-left: 30px;

    @media (max-width: $medium-devices) {
        margin-left: 0; 
    }
}