
/** Logo */
.logo {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .logo {
        flex: 0.52;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .logo {
        flex: 0.52;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .logo {
        flex: 0.52;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.logo .logo-link {
    font-size: 24px;
    color: #222;
}

.logo .logo-link:hover {
    color: #111;
}