/* Button Block */
.button-block {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.42;
    border-radius: 4px;
    user-select: none;
    
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

/* Columns Block */
.columns-block {
    display: flex;
    width: 100%;
    @media (max-width: $smallDevices) {
        list-style: none;
        display: block;
    }
}

/* Column Block */
.column-block {
    // & [class*='-block'] {
    //     margin-bottom: 0px;
    // }

    &:first-child {
        margin-left: 0px !important;
    }

    &:last-child {
        margin-right: 0px !important;
    }

    @media (max-width: $smallDevices) {
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 15px !important;
    }
}

.slider-block {
    .slide {
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 10;
    }

    .slider-fluid {
        height: 100%;
        width: 100%;
    }

    .slide-link {
        width: 100%;
    }
}

// .slide-block {
//     overflow: hidden;
//     height: 100%;
//     .slide-layer {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }

//     .layers {
//         left:0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//     }

//     .slider-background {
//         background-size: cover;
//         background-position: center;
//     }
// }

/* Tabs Block */
.tabs-block {
    .active-tab {
        display: block !important;
    }

    .tabsbar {
        width: 100%;
        overflow: hidden;

        .tabsbar-item {
            outline: 0;
            user-select: none;
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;
            background-color: transparent;
        }

        .tab-item {
            background-color: rgba(53, 101, 171, 0.05);
    
            &:hover {
                background-color: rgba(53, 101, 171, 0.15);
            }
        }
        
        .active-tab-item {
            background-color: rgba(53, 101, 171, 0.13);
        }
    }
}

/* Image Block */
.image-block {
    p {
        margin: 0 0 0px;
    }

    .image-lightbox {
        cursor: zoom-in;
    }
}

/* Images Block */
.images-block {
    .images-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .images-block-image {
        display: flex;
        flex-direction: column;

        .image-lightbox {
            cursor: zoom-in;
        }
    }
}

/** tabsbar item */
.tabsbar {
    .tab-item {
        background-color: rgba(53, 101, 171, 0.05);

        &:hover {
            background-color: rgba(53, 101, 171, 0.15);
        }
    }
    .active-tab-item {
        background-color: rgba(53, 101, 171, 0.13);
    }
}

/* Text block */
.text-block p {
    margin: 0 0 15px;
}

.block-link, .block-link:hover {
    text-decoration: none;
}

/* Recent Posts Block*/
.recent-post-title-link {
    font-size: 16px;
    color: #444;

    &:hover {
        color: #216a94;
        text-decoration: none;
    }
}

.recent-post-date {
    font-size: 14px;
    color: #555;
}

.recent-post-featured-image:hover ~ .recent-post-details .recent-post-title a {
    color: #216a94;
    text-decoration: none;
}
