/* .container:after, .container:before {
    content: unset;
} */

.container-fluid::after, 
.container-fluid::before, 
.container::after, 
.container::before {
    /* display: table; */
    content: " ";
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: $containerWidth;
    max-width: $containerMaxWidth;

    @media (max-width: $largeDevices) {
        width: 100%;
    }
}

.container-wide :last-child {
    margin-bottom: 0px !important;
}

.container-fluid {
    width: 100%;
}

.container .content .container {
    width: unset;
    padding: unset;
}
